* {
  scrollbar-width: normal;
  scrollbar-color: #818181 #11254b;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

div {
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}
