:root {
  --bg-gradient: #0658b6 0%, #055092 6%, #000c24 100%;
  --primary-color: #0099f1;
  --primary-text: #ffffff;
  --secondary-text: #fefefe;
  --background-primary: #0886f2;
  --background-secondary: #02346d;
  line-height: 1.2;
}

#root {
  min-height: 100vh;
  background-color: var(--background-secondary);
  background: radial-gradient(circle, var(--bg-gradient));
}

.container {
  max-width: 1080px;
  padding: 2rem 1rem;
  margin: auto;
}

nav {
  position: sticky;
  background-color: var(--background-secondary);
  z-index: 10;
  top: 0;
}

.card {
  min-width: 20rem;
}

.card-media {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.card-footer .avatar {
  min-width: 3rem;
  align-self: flex-start;
}

.video-grid {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.listing-grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 70vh;
  min-width: 15rem;
  top: 5.3rem;
}

.sidebar .nav-link {
  background-color: var(--background-primary);
  padding: 1rem;
  margin-bottom: 10px;
}

.sidebar .nav-link.active {
  background-color: var(--background-secondary);
  box-shadow: 0px 0px 3px var(--divider-color);
}

.form {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  max-width: 350px;
  padding: 2rem;
}

.form > div {
  width: 100%;
}

.input {
  width: 100%;
}

.input-icon:focus-within {
  border-color: var(--primary-color);
}

.dropdown-item:hover {
  background-color: var(--background-secondary);
}

/* to-do: move these syles to component library utility */
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-justify {
  text-align: justify;
}

.pos-rel {
  position: relative;
}

.flex {
  display: flex;
  gap: 0.5rem;
}
